body {
    font-family: arial;
    background-color: rgb(185,179,175);}
table{
      border-style: inset;
      border-width: 4px;
      border-color: #37333b;
      background-color: #f5eca2;
      text-align: center;
      margin-left: 2 %;}
h1 {
    color: rgb(255,255,255);}

#Game_Change{
  font-family: fantasy;
}
#h1{
  font-family: fantasy;
}
#h2{
  font-family: fantasy;
}
#h3{
  font-family: fantasy;
}
#h4{
  font-family: fantasy;
}
#h5{
  font-family: fantasy;
} 
#h6{
  font-family: fantasy;
}
#h7{
  font-family: fantasy;
}
#h8{
  font-family: fantasy;
}
#h9{
  font-family: fantasy;
}
